{% extends "home.html" %}
{% block title %}Results{% endblock %}

{% block content %}
    <h1 class="text-center">Transaction prediction</h1>

    <hr />
    <h4 class="text-center">customer details:</h4>
    <div class="container">
        <div class="row">
            <div class="col">Age: <i>{{age}}</i></div>
            <div class="col">Year became a member: <i>{{became_member_on}}</i></div>
            <div class="col">Gender: <i>{{gender}}</i></div>
            <div class="col">Income: <i>{{income}}</i></div>
        </div>
    </div>
    <hr />

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">offer_type</th>
                <th scope="col">reward</th>
                <th scope="col">difficulty</th>
                <th scope="col">duration</th>
                <th scope="col">channels</th>
                <th scope="col">transaction probability</th>
            </tr>
        </thead>
        <tbody>
            {%for id in result%}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{result[id]['offer_type']}}</td>
                <td>{{result[id]['reward']}}</td>
                <td>{{result[id]['difficulty']}}</td>
                <td>{{result[id]['duration']}}</td>
                <td>{{result[id]['channels']}}</td>
                <td>{{result[id]['prediction']}}</td>
            </tr>
            {%endfor%}

        </tbody>
    </table>
        
{% endblock %}
