{% extends "home.html" %}
{% block title %}Results{% endblock %}

{% block result %}
    <hr />
    <h4 class="text-center">customer details:</h4>
    <p class="text-center">Offer id: <i>{{offer_id}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result (will the customer make a transaction?):</h1>
    <div class="container m-b-5">
        <div class="row">
            <div class="col">id</div>
            <div class="col">transaction probability</div>
        </div>
    </div>
    <div class="container">
        {%for id in result%}
        <div class="row">
            <div class="col">{{id}}</div>
            <div class="col">{{result[id]}}</div>
        </div>
        {%endfor%}
    </div>
        
{% endblock %}
